# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master, ndeloney0/extra-funds, ndeloney0/progress, ndeloney0/unit-testing, ndeloney0/bugfixes, Merging, Cross-Platform-Integration ]
  pull_request:
    branches: [ master ]


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: macos-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      with: 
        submodules: recursive
    - name: install
      run: brew install glew
    - name: configure
      run: cmake .
    - name: build
      run: make
    - name: test_program
      run: ./test_program

